.d-flex{
    margin-top: 10px;
}
.bg-primary{
    margin: 5px;    
}
.bg-secondary{
    margin: 5px;
}
.divHeigth{
    height: 150px;
}
.div{
    width: 200px;
    height: 100px;
    margin-top: 20px;
}